<body>
	<h1>Startup</h1>
	<%= render "blank_for_blank" %>

	<button onclick="newStartup()">Generate Another Startup</button>
	<br>
	<br>
	<%=twitter_link(twitter_text(@noun,@business)) %>

<script type="text/javascript">
window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
</script>
	

	<script>
	function newStartup() {
	    location.reload();
	}
	</script>
</body>